<!--=====================================
Section Gray
======================================-->
<div class="ps-section--gray">
    <h2 style="margin-left: 50px; margin-bottom: 20px;">MarketPlace | ChaskiGo</h2>
    <div *ngIf="!preload" class="container">
        <!--=====================================
  Products of category
  ======================================-->
        <div *ngFor="let category of categories; let lastIndex = last; let i = index" class="ps-block--products-of-category">
            <!--=====================================
    Menu subcategory
    ======================================-->
            <div class="ps-block__categories">
                <h3>{{category.name}}</h3>
                <ul [attr.category-showcase]="category.name">
                </ul>
                <div class="link">
                    <a class="ps-block__more-link" routerLink="products/{{category.url}}">Visitar Categoría</a>
                </div>
            </div>
            <!--=====================================
    Vertical Slider Category
    ======================================-->
            <div class="ps-block__slider">
                <div [attr.category-sl]="category.url">
                </div>
            </div>
            <!--=====================================
    Block Product Box
    ======================================-->
            <div class="ps-block__product-box" [attr.category-pb]="category.url">
            </div>
            <!-- End Block Product Box -->
            {{ lastIndex ? callback(i) : "" }}
        </div>
        <!-- End Products of category -->
    </div>
    <!-- End Container-->
    <!--=====================================
  Preload
  ======================================-->
    <div *ngIf="preload" class="d-lg-flex justify-content-center d-none">
        <div class="container">
            <div class="ph-item">
                <div class="ph-col-2">
                    <div class="ph-row">
                        <div class="ph-col-12 big"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-8"></div>
                        <div class="ph-col-4 empty"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12"></div>
                        <div class="ph-col-12 empty"></div>
                        <div class="ph-col-12"></div>
                    </div>
                </div>
                <div class="ph-col-2">
                    <div class="ph-picture" style="height:500px"></div>
                </div>
                <div class="ph-col-8">
                    <div class="ph-picture" style="height:500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="preload" class="d-flex justify-content-center d-lg-none">
    <div class="spinner-border text-muted my-5"></div>
</div>
<!-- End Section Gray-->